@using Core.Enums;
@model List<Course>

<style>
    #notifications-menu {
        max-height: 70vh;
        overflow: auto;
    }
</style>
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        course
    </button>
    <ul class="dropdown-menu" id="notifications-menu">
        @foreach (var course in Model)
        {
            <li>
                @Html.ActionLink(
            course.Name,
            "ViewAll",
            "Notification",
            new { filteringParam = NotificationsFilteringParams.Course, entityId = course.Id },
            new { @class = "dropdown-item" })
            </li>
        }
    </ul>
</div>
