@using Core.Enums;
@model List<Group>

<style>
    #notifications-menu {
        max-height: 70vh;
        overflow: auto;
    }
</style>
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        group
    </button>
    <ul class="dropdown-menu" id="notifications-menu">
        @foreach (var group in Model)
        {
            <li>
                @Html.ActionLink(
            group.Name,
            "ViewAll",
            "Notification",
            new { filteringParam = NotificationsFilteringParams.Group, entityId = group.Id },
            new { @class = "dropdown-item" })
            </li>
        }
    </ul>
</div>
