@using UI.ViewModels;
@using Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UI.ViewModels.FileViewModels.CreateInGroupEducationMaterialViewModel

<!DOCTYPE html>

<html>
<body>
<div class="container py-4">
    <h1>Upload File to Task</h1>
    <form method="post" asp-controller="EducationMaterial" asp-action="CreateInGroup" enctype="multipart/form-data">
        <input type="hidden" asp-for="GroupId"/>
        <input type="hidden" asp-for="CourseId"/>
        <input type="hidden" asp-for="Group"/>
        <input type="hidden" asp-for="Course"/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UploadFile" class="control-label"></label>
            <input asp-for="UploadFile" type="file" class="form-control">
            <span asp-validation-for="UploadFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaterialAccess" class="control-label"></label>
            <select asp-for="MaterialAccess" class="form-control">
                @foreach (var accessValue in Enum.GetValues(typeof(MaterialAccess)))
                {
                    <option value="@accessValue">@accessValue</option>
                }
            </select>
            <span asp-validation-for="MaterialAccess" class="text-danger"></span>
        </div>
        <div class="py-2">
            <div class="form-group">
                <input class="btn btn-outline-primary" type="submit" value="Save"/>
                <a class="btn btn-outline-dark" asp-controller="Course" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>