@using UI.ViewModels.AssignmentViewModels
@model Assignment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Course</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <style>
            body {
                background-color: #f7f7f7;
            }
    </style>
</head>
<body>
    <div class="ui container mt-4">
        <div class="ui centered card" style="width: 500px;">
            <div class="content">
                <div class="header">
                    Delete Group
                </div>
            </div>
            <div class="content">
                <h5 class="ui header">Are you sure you want to delete the assigment '@Model.Name'?</h5>
            </div>
            <div class="extra content">
                <form class="ui form" asp-action="DeleteAssignment" asp-controller="Assignment" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="ui delete-button button">Delete</button>
                    <a href="@Url.Action("Details", "Assignment", new { assignmentId = Model.Id})" class="ui button" for="success-outlined">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    @if (TempData["Error"] != null)
    {
        <div class="ui container mt-4">
            <div class="ui negative message">
                <p><b>Sorry!</b> - @TempData["Error"]</p>
            </div>
        </div>
    }
</body>
</html>