@using UI.ViewModels
@model EditUserPasswordViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Edit User Password</title>
    <style>
        .edit-password-body {
            background-color: #f7f7f7;
        }

        .edit-password-main-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30% !important;
            position: absolute !important;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-left: 55px;
        }

        .buttons {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .center-aligned-input {
            text-align: center;
        }
    </style>
</head>
<body class="edit-password-body">
    <div class="ui centered card edit-password-main-container">
        <div class="content">
            <div class="header mt-3">
                <h3 class="ui center aligned header">
                    Edit your Password
                </h3>
            </div>
        </div>
        <div class="content" style="text-align: center; width: 100%">
            <form method="post" asp-controller="User" asp-action="EditPassword" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control">
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control">
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
                <div class="ui buttons mt-3">
                    <input class="ui edit-button button" type="submit" value="Save" />
                    <div class="or"></div>
                    <a class="ui button btn-outline-dark" asp-controller="User" asp-action="Edit">Cancel</a>
                </div>
                <a class="btn btn-outline-danger ml-auto buttons" asp-controller="Account" asp-action="SendCodeUser" asp-route-forgotEntity="Password">Forgot password</a>
            </form>
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span><b>Sorry!</b> - @TempData["Error"]</span>
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <p class="text-success">@TempData["SuccessMessage"]</p>
            }
        </div>
    </div>
</body>
</html>