@model List<UserActivity>
@{
    var date = (DateTime)ViewData["DateTime"];
}
<!DOCTYPE html>
<html>
<head>
    <title>User activity</title>
    <style>
        table, th, td {
            border: 1px solid;
        }
        th{
            width:14%;
            text-align:left;
        }
        td{
            height:20%;
            text-align:start;
        }
        table{
            width:100%;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card w-100 pb-0">
                    <div class="card-header text-center">
                        <h4>Activity for @(date.ToString("D"))</h4>
                        @{
                            var thisDay = date.AddDays(-1);
                        }
                        @Html.ActionLink(
                        thisDay.DayOfWeek.ToString(),
                        "ActivityForDay",
                        new { thisDay },
                        new { @class="link-secondary", @style="margin-right:35%" }
                        )
                        @{
                            thisDay = date.AddDays(1);
                        }
                        @Html.ActionLink(
                        thisDay.DayOfWeek.ToString(),
                        "ActivityForDay",
                        new { thisDay },
                        new { @class="link-secondary", @style="margin-left:35%" }
                        )
                    </div>
                    <div class="card-body">
                        @foreach (var activity in Model)
                        {
                            @Html.ActionLink(
                            activity.Name,
                            "ActivityDetails",
                            new { activity.Id },
                            new { @class="list-group-item" }
                        )
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
