@model UI.ViewModels.CourseViewModel
@using (Html.BeginForm())
{
    <div class="container">
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>

        @if (TempData["CreatingError"] != null)
        {
            <p class="text-danger">@TempData["CreatingError"]</p>
        }
        
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}