@model UI.ViewModels.CourseViewModel
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
    </div>

    @if (!string.IsNullOrEmpty(ViewData["EditingError"] as string))
    {
        <span style="color: red;">@ViewData["EditingError"]</span>
    }
    
    <input type="submit" value="Save" />
}