@using Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model UI.ViewModels.UserCoursesViewModel

<div class="container mt-4">
    <h3>Courses</h3>
    <hr />
    <div class="row">
        @if (Model.Courses.Count == 0)
        {
            <div class="col">
                <div class="alert alert-warning">No courses found.</div>
            </div>
        }
        else
        {
            @foreach (var course in Model.Courses)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@course.Name</h5>
                            <a href="@Url.Action("Details", new { id = course.Id })" class="btn btn-primary">Details</a>
                             @if (Model.CurrentUser.Role == AppUserRoles.Admin)
                             {
                                 <a href="@Url.Action("Edit", new { id = course.Id })" class="btn btn-warning">Edit</a>
                                 <a href="@Url.Action("Delete", new { id = course.Id })" class="btn btn-danger">Delete</a>
                             }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
 @if (Model.CurrentUser.Role == AppUserRoles.Admin)
 {
     <p>
         <a asp-action="Create" class="btn btn-primary">Create New Project</a>
     </p>
 }
