<div class="position-relative m-5 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h5 class="card-title">Your account has been successfully deleted</h5>
    </div>
</div>
