@using UI.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
      name="description"
      content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI."
    />
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template" />
    <meta name="author" content="PPType" />
    <meta name="theme-color" content="#ffffff" />
    <title>Login</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        type="text/css"
    />
    <style type="text/css">
      body {
        background-color: #EBF4EC; 
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: grayscale;
      }

      body > .ui.grid {
        height: 100%;
      }

      .column {
        max-width: 450px;
      }
    </style>    
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column login-customn-position">
        <h2 class="ui teal center aligned header">
          <h1 class="text-black">Log-in to your
          account</h1>
        </h2>
          <form class="ui large form" asp-action="Login">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="ui stacked segment">
                  <div class="field">
                      <label asp-for="EmailAddress" class="control-label"></label>
                      <div class="ui left icon input">
                          <i class="user icon"></i>
                          <input asp-for="EmailAddress" class="form-control" placeholder="E-mail address" type="text">
                      </div>
                      <span asp-validation-for="EmailAddress" class="text-danger"></span>
                  </div>
                  <div class="field">
                      <label asp-for="Password" class="control-label"></label>
                      <div class="ui left icon input">
                          <i class="lock icon"></i>
                          <input asp-for="Password" class="form-control" placeholder="Password" type="password">
                      </div>
                      <span asp-validation-for="Password" class="text-danger"></span>
                  </div>
                  @if (TempData["Error"] != null)
                  {
                      <div class="ui negative message">
                          <i class="close icon"></i>
                          <div class="header">
                              Sorry!
                          </div>
                          <p>@TempData["Error"]</p>
                      </div>
                  }
                  <input class="ui fluid large teal submit button" type="submit" value="Log in" style="background-color: #1b6054; color:white;"/>
              </div>
              <div class="ui error message"></div>
          </form>
            <form method="post" asp-action="ExternalLogin">
                <div>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-outline-success" style="width:100%"
                                name="provider" value="@provider.Name"
                                title="Login using your @provider.DisplayName account">
                            Login using your @provider.DisplayName account
                        </button>
                    }
                </div>
            </form>
          @*<devsite-iframe><iframe src="https://developers.google.com/frame/identity/gsi/web/guides/overview_c694146549f8825c2cecf7d7dadc1e8efa13ce99ecf67bf5bf88acc0ba4b65f8.frame" class="framebox inherit-locale " allow="clipboard-write https://developers-dot-devsite-v2-prod.appspot.com" allowfullscreen is-upgraded></iframe></devsite-iframe>*@
          <div class="ui message">New to us?<a asp-controller="Account" asp-action="Register"> Sign up</a></div>
          <div class="ui message">Forgot password?<a asp-controller="Account" asp-action="ForgotPassword"> Change password</a></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</body>
</html>